# uC program
!t1.uc
!t2.uc
!t3.uc
!t4.uc
!t5.uc
!t6.uc
!t7.uc
!t8.uc
!t9.uc
!t10.uc
!t11.uc
!t12.uc
!t13.uc
!t14.uc
!t15.uc
!t16.uc

# uC program output
!out/*.out

# AST representation
!ast/*.ast

# uC IR (raw)
!ir/*.ir

# uC IR (optimized)
!opt/*.opt

# LLVM IR
!ll/*.ll
